.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

/* All styling */
h1 {
  font-size: 23px;
  color: white;
}

span {
  color: #73C2D9;
}

/* NAV */
.navbar {
  background: #252423;
  height: 70px;
  display: flex; 
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.myteam {
  margin-top: 15px;
}

.myteam1 {
  margin-top: 15px;
  margin-right: 10px;
}

/* HEADER */
header {
  position: relative;
}

.header {
  height: 200px;
  width: 320px;
}

.header2 {
  position: absolute;
  border: 2px solid rgb(4, 16, 26, 0.6);
  background-color: rgb(4, 16, 26, 0.6);
  top: 96px;
  left: 20%;
  height: 100px;
  width: 190px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  text-align: center;
}

.text {
  padding-top: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 26px;
}

p {
  display: none;
  font-family: 'Mulish', sans-serif;
  font-weight: lighter;
}

/* CHARACTER CARD */
.topDiv {
  background-image: url("https://res.cloudinary.com/dd1i00sei/image/upload/v1628183050/LOL_CMS_147_Article_02_moy4pe1g5cs8gse1alrs_fqqfqs.jpg");
  padding: 30px;
  border-top: 5px solid black;
  border-bottom: 2px solid #515346;
  margin-top: -4px;
}

.topDiv1 {
  margin-top: -31px;
}

.characterCard {
  border: 3px solid #515346;
  border-radius: 15px;
  width: 270px;
  margin: 0px auto;
  background: white;
}

.cardImg {
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: white;
}

.cardImg2 {
  border-radius: 50%;
  border: 8px solid #515346;
}

.cardName {
  margin: 0;
  padding: 10px;
  color: black;
  background: white;
}

.position {
  padding-bottom: 10px;
  color: black;
  background: white;
}

button {
  margin: 20px auto;
  font-family: 'Mulish', sans-serif;
  border-radius: 5px;
  background: white;
  padding: 5px 10px;
  border-color: #515346;
  cursor: pointer;
}

/* CHARACTER CARD LOADING */
.loading {
  border: 3px solid #E8E8E8;
  border-radius: 15px;
  width: 270px;
  margin: 20px auto;
  background-color: #E8E8E8;
}

.cardImg3 {
  height: 150px;
  width: 150px;
  border: none;
}

.cardName2 {
  font-size: 25px;
  color: black;
  padding: 5px;
  font-family: 'Mulish', sans-serif;
}

/* FORM */
form {
  margin: 30px auto;
  border-bottom: 2px solid #515346;
}

.search {
  border: 2.5px solid #515346;
  border-right: none;
  padding: 6px;
  border-radius: 5px 0 0 5px;
  color: black;
}

.searchButton {
  width: 60px;
  height: 32px;
  padding: 6px;
  border: 2.5px solid #515346;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #515346;
}


/* ALL CHARACTERS */
.allImg {
  margin-top: 20px;
}

.cards {
  border: 3px solid #515346;
  border-radius: 15px;
  width: 160px;
  margin: 20px auto;
}

.allImg {
  border-radius: 50%;
  border: 12px double #515346;
}

.back {
  background-image: url("https://res.cloudinary.com/dd1i00sei/image/upload/v1628181151/redeemed-bg_uoztgz.jpg");
  margin-top: 0;
  margin-bottom: 0;
}

/* FOOTER */
footer {
  height: 200px;
  background-color: #252423; 
  color: white;
}

.foot {
  font-size: 14px;
  font-weight: lighter;
}

h3 {
  padding-top: 30px;
  font-size: 20px;
  margin-top: 0;
}

ul.download {
  padding: 0;
  margin: 8px;
}

/* ABOUT */
.about {
  width: 90%;
  margin-left: 10px;
  margin-top: 20px;
}

.aboutText {
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutImg {
  height: 200px;
  width: 300px;
}

h5 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin: 30px auto;
}


/* TABLET STYLING */
@media screen and (min-width:768px) {
  .myteam {
    margin-left: 510px;
  }
  
  .header {
    width: 768px;
    height: 450px;
    background-size:cover;
  }

  .header2 {
    height: 180px;
    width: 465px;
    top: 266px;
  }

  .text {
    font-size: 36px;
    padding-top: 14px;
  }

  p {
    display: block; 
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    padding: 2px 20px; 
  }

  .about {
    margin: 20px auto;
  }

  .aboutImg {
    height: 430px;
    width: 700px;
  }

  h3 {
    text-align: left;
    margin-left: 40px;
  }

  ul.download {
    text-align: left;
    margin-left: 30px;
  }

  .back {
    background-image: url("https://res.cloudinary.com/dd1i00sei/image/upload/v1628181151/redeemed-bg_uoztgz.jpg");
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* LAPTOP STYLING */
@media screen and (min-width:1024px) {
  .navbar {
    justify-content: flex-start;
  }

  .myteam {
    margin-left: 0
  }

  .header {
    width: 100%;
    height: 500px;
  }

  .header2 {
    height: 200px;
    width: 60%;
    top: 296px;
  }

  .text {
    font-size: 50px;
  }

  .container {
    width: 800px;
  }

  div.cards:hover {
    background-color: #73C2D9;
    cursor: pointer;
  }

  .about {
    width: 80%;
  }

  h5 {
    font-size: 50px;
  }

  small {
    display: block;
  }
}