
.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

/* All styling */
h1 {
  font-size: 23px;
}





/* NAV */
.navbar {
  background: #252423;
  height: 70px;
  display: flex; 
  justify-content: space-between;

}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  
}

.myteam {
  margin-top: 15px;
}

.myteam1 {
  margin-top: 15px;
  margin-right: 10px;
}



/* HEADER */
header {
  position: relative;
}

.header {
  height: 200px;
  width: 320px;
}

.header2 {
  position: absolute;
  border: 2px solid rgb(24, 170, 247, 0.5);
  background-color: rgb(24, 170, 247, 0.6);
  top: 96px;
  left: 20%;
  height: 100px;
  width: 190px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  text-align: center;
}

.text {
  padding-top: 30px;
}

p {
  display: none;
}

/* CHARACTER CARD */
.characterCard {
  border: 3px solid #E8E8E8;
  border-radius: 15px;
  width: 270px;
  margin: 20px auto;
  background-color: #E8E8E8;
}

.cardImg {
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: white;
}

.cardImg2 {
  border-radius: 50%;
  border: 8px solid #E8E8E8;
}

.cardName {
  margin: 10px 0 0 0;
  padding: 10px;
}

.position {
  padding-bottom: 10px;
}

button {
  margin: 20px auto;
  font-family: 'Mulish', sans-serif;
  border-radius: 5px;
  background: white;
  padding: 5px 10px;
  border-color: white;
  cursor: pointer;

}

/* CHARACTER CARD LOADING */
.loading {
  border: 3px solid #E8E8E8;
  border-radius: 15px;
  width: 270px;
  margin: 20px auto;
  background-color: #E8E8E8;
}

.cardImg3 {
  height: 150px;
  width: 150px;
  border: none;
}

.cardName2 {
  font-size: 20px;
  padding: 5px;
}

/* FORM */
form {
  margin: 30px auto;
}

.search {
  border: 2.5px solid rgb(24, 170, 247, 0.6);
  border-right: none;
  padding: 6px;
  border-radius: 5px 0 0 5px;
  color: black;
}

.searchButton {
  width: 60px;
  height: 32px;
  padding: 6px;
  border: 2.5px solid rgb(24, 170, 247, 0.3);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: rgb(24, 170, 247, 0.6);

}


/* ALL CHARACTERS */
h4 {


  font-size: 30px;
  color: rgb(24, 170, 247, 0.6);
}

.allImg {
  margin-top: 20px;
}

.cards {
  border: 3px solid #E8E8E8;
  border-radius: 15px;
  width: 160px;
  margin: 20px auto;
  background-color: white;
}

.allImg {
  border-radius: 50%;
  border: 12px double #E8E8E8;
}

/* FOOTER */
footer {
  height: 200px;
  background-color: #252423; 
  color: white;
}

/* ABOUT */
.about {
  margin: 30px auto;
  width: 70%;
}

h3 {
  padding-top: 30px;
  font-size: 20px;
}

ul.download {
  padding: 0;
  margin: 8px;

}

.foot {
  font-size: 14px;
  font-weight: lighter;
}



@media screen and (min-width:768px) {
  .myteam {
    margin-left: 510px;
  }
  
  .header {
    width: 768px;
    height: 450px;
    background-size:cover;
  }

  .header2 {
    height: 219px;
    width: 465px;
    top: 50%;
  }

  .text {
    font-size: 35px;
    text-align: left;
    margin-left: 30px;
    padding-top: 14px;
  }

  p {
    display: block; 
    text-align: left;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 13px;
  }


  .container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;

    padding: 2px 20px; 
  }

  h3 {
    text-align: left;
    margin-left: 40px;
  }

  ul.download {
    text-align: left;
    margin-left: 30px;
  }

  

 /* Arrow */
 


}


@media screen and (min-width:1024px) {
  .myteam {
    margin-left: 780px;
  }
  
  .header {
    width: 100%;
    height: 500px;
  }

  .header2 {
    height: 244px;
    width: 60%;
  }

  .text {
    font-size: 30px;
    padding-top: 60px;
  }

  p {
    margin-left: 35px;
  }

  .container {
    width: 800px;
  }

  div.cards:hover {
    background-color: rgb(24, 170, 247, 0.6);
    cursor: pointer;

  }



}